homework2/code/sample_test/sample_events.csv
homework2/code/sample_test/sample_mortality.csv
homework2/code/sample_test/expected/pig/aliveevents.csv
homework2/code/sample_test/expected/hive/statistics.txt
homework2/code/sample_test/expected/pig/deadevents.csv
homework2/code/sample_test/expected/pig/features
homework2/code/sample_test/expected/pig/features_aggregate.csv
homework2/code/sample_test/expected/pig/features_map.csv
homework2/code/sample_test/expected/pig/samples
homework2/code/sample_test/expected/pig/features_normalized.csv
homework2/code/sample_test/expected/pig/filtered.csv
homework2/data/events.csv
homework2/data/mortality.csv
*.yml
*.DS_Store
.DS_Store
homework1/.DS_Store
homework1/data/.DS_Store
